/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-739d6300-e8ryvwwj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Subtitle  ,  .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Title  ,  .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .style-c4db9ea8-dzebo07f .style-739d6300-e8ryvwwj .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-739d6300-e8ryvwwj.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						color: rgb(0, 0, 0);
				
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						direction: ltr;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-width: 1px;
				
						line-height: 1.0em;
				
						letter-spacing: 0.1em;
				
						border-radius: 0px;
				
						font-family: Montserrat;
				
						direction: rtl;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.0em;
				
						line-height: 1.5em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						color: rgb(0, 0, 0);
				
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						direction: ltr;
				
						line-height: 1.36em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgba(0, 0, 0, 0);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7a52a1d3-dxlx8zk4 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 750px;
						
						margin-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .inner-pic  {
		
						opacity: 0.95;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .background-div  {
			
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4.master.item-box   {
		
						background-color: rgb(50, 158, 212);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-title  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 32rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-item-links span  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-right: 10px;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						padding-left: 30px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						font-family: Raleway;
						
						background-color: rgb(255, 255, 255);
						
						margin-left: 10px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-item-links span:before  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .effect-tester  { 
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-item-links span:hover  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-element.Link.hover-tester  { 
						color: rgb(89, 89, 89);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .middle_layout .helper-div  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-subtitle  ,  .style-c4db9ea8-dzebo07f .style-7a52a1d3-dxlx8zk4 .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-7a52a1d3-dxlx8zk4 #vbid-7a52a1d3-w8lp7u5b .preview-content-holder{
				
							text-align : center;
					
				}

 .style-7a52a1d3-dxlx8zk4 #vbid-7a52a1d3-5p4sbbdg.inner-pic{
				
							background-position : 50% 50%;
					
				}











 .style-7a52a1d3-dxlx8zk4 #vbid-7a52a1d3-w8lp7u5b .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c4db9ea8-dzebo07f version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-c4db9ea8-dzebo07f .title-holder  {
		
						text-align: center;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview.image-cover  {
		
						min-height: 250px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .Title  ,  .master .style-c4db9ea8-dzebo07f .Body h1  { font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-c4db9ea8-dzebo07f  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 400px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .master .style-c4db9ea8-dzebo07f .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);
							
		}
	 .master .style-c4db9ea8-dzebo07f .item-links span  {
		
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(66, 117, 83);
						
						margin-left: 50px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-title  ,  .master .style-c4db9ea8-dzebo07f .preview-body h1  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 20px;
						
						margin-bottom: 5px;
						
						line-height: 1.1em;
							
		}
	 .master .style-c4db9ea8-dzebo07f .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-item-links span  ,  .master .style-c4db9ea8-dzebo07f #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(50, 50, 50);
						
						padding-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgba(159, 14, 14, 0);
							
		}
	 .master .style-c4db9ea8-dzebo07f .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-c4db9ea8-dzebo07f .item-links  {
		
						text-align: center;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .body-holder  {
		
						text-align: justify;
							
		}
	 .master .style-c4db9ea8-dzebo07f .Body  {
		
						margin-bottom: 20px;
						
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-left: 50px;
						
						margin-right: 50px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .Subtitle  ,  .master .style-c4db9ea8-dzebo07f .Body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						letter-spacing: 0.05em;
						
						margin-right: 50px;
						
						margin-top: 15px;
						
						margin-left: 50px;
						
						margin-bottom: 15px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-c4db9ea8-dzebo07f .page-image-cover  {
		
						margin-bottom: 30px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .title-wrapper  {
		
						max-width: 1124px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .subtitle-wrapper  {
		
						max-width: 1114px;
							
		}
	 .master .style-c4db9ea8-dzebo07f  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .master .style-c4db9ea8-dzebo07f .body-wrapper  {
		
						max-width: 700px;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-item-links span:hover  ,  .master .style-c4db9ea8-dzebo07f .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(0, 0, 0);
							
		}
	 .master .style-c4db9ea8-dzebo07f .subtitle-holder  {
		
						text-align: center;
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(34, 34, 34);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c4db9ea8-dzebo07f.master.container > #children  {
		
						background-color: rgb(243, 243, 243);
							
		}
	 .master .style-c4db9ea8-dzebo07f .preview-subtitle  ,  .master .style-c4db9ea8-dzebo07f .preview-body h2  { 
						font-family: 'Roboto Slab Light';
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(35, 35, 35);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-34c9c0e9-nyi9r5bv version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 500px;
						
						padding-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 15px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-icon-holder .icon-source  {
		
						width: 60px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv #pagination-holder  {
		
						font-family: Times New Roman;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 50px;
						
						border-width: 1px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(83, 83, 83);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .background-div  {
			
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-title  ,  .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-body h1  { 
						line-height: 1.3em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-item-links span  ,  .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .stripe-background  {
		
						margin-top: -50px;
						
						margin-left: -6%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-content-holder  {
		
						margin-bottom: 10px;
						
						text-align: left;
						
						margin-top: 30px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-top: 10px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-item-links span:before  ,  .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: bottom;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-price  {
		
						font-family: Arial;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-item-links span:hover  ,  .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-element.Link.hover-tester  { 
						color: rgb(214, 214, 214);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .inner-pic  {
		
						opacity: 1;
						
						background-size: cover;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-title  {
		
						margin-bottom: 10px;
						
						font-family: Montserrat;
						font-size:calc( 10px + ( 20rem - 10rem ) );	
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(67, 67, 67);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-right: 10px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 5px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						padding-left: 10px;
						
						border-radius: 10px;
						
						padding-top: 5px;
						
						margin-bottom: 0px;
						
						background-color: rgb(0, 0, 0);
						
						margin-left: 0px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-subtitle  ,  .style-c4db9ea8-dzebo07f .style-34c9c0e9-nyi9r5bv .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(147, 147, 147);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-739d6300-tcmaukq7 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-title  ,  .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-body h1  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(68, 68, 68);
						
						letter-spacing: 0.0em;
						
						margin-right: 20px;
						
						margin-top: 5px;
						
						margin-left: 20px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-link-img  {
		
						width: 30px;
						
						margin: 30px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0.13);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7  .preview-content-holder  {
		
						text-align: center;
						
						margin-right: 20px;
						
						margin-top: 35px;
						
						margin-left: 20px;
						
						margin-bottom: 35px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-item-links span  ,  .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 25px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						padding-right: 20px;
						
						padding-left: 20px;
						
						width: 80px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-subtitle  ,  .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(160, 160, 160);
						
						letter-spacing: 0.2em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .middle_layout .helper-div  ,  .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-tcmaukq7 .background-div  {
		
						color: rgb(0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-739d6300-jwwtqlph version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph.master.item-box   {
		
						position: absolute;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-item-links span:hover  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph.master.item-box   {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: right;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-item-links span  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 7px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 7px;
						
						border-width: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						margin-left: 5px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-title  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						margin-right: 10px;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						margin-left: 10px;
						
						line-height: 1.5em;
						
						background-color: rgba(255, 255, 255, 0);
						
						direction: ltr;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-item-links.allow-bg-color  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-item-links span:before  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 0px;
						
						margin-left: 10px;
						
						margin-bottom: 0px;
						
						width: 130px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: right;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .middle_layout .helper-div  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-subtitle  ,  .style-c4db9ea8-dzebo07f .style-739d6300-jwwtqlph .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.0em;
						
						margin-right: 10px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
